.gr {
	background-color: white;
	margin: .6em;
	padding: .5em;
	box-shadow: 0em 0em .5em #888888;
	border-radius: 4px;
}

.tc {
	height: 250px;
}

.content{
	width: 90%;
	margin: 0 auto 0 auto;
	padding: 1.2em;
}

.shadowed{
	background-color: white;
	box-shadow: 0em 0em .5em #888888;
	border-radius: 4px;
}

body{
	background-color: #F1F1F1;
}

.dark-grey{
	background-color: #8C7E6A;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
