{{define "content"}}
<div class="shadowed content">
	<form class="pure-form pure-form-stacked">
    
		<h3 class="center">Contact Us</h3>

		<div class="center" style="max-width:50em">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">
					<input class="pure-u-1" type="text" placeholder="Name">
				</div>
				<div class="pure-u-1 pure-u-md-1-2">
					<input class="pure-u-1" type="email" placeholder="Email">
				</div>
				<textarea style="height:8em" class="pure-input-1" placeholder="Comments"></textarea>
			</div>
		</div>
		
		<div class="pure-g center" style="max-width:20em">		
			<button type="submit" class="dark-grey pure-u-1 pure-button pure-button-primary">Submit</button>
		</div>
		
	</form>
</div>
{{end}}