{{define "content"}}
	<div id="dialog" title="Basic dialog">
		<div id="L1V" class="tc"></div>
	</div>
	
	<div class="pure-g" id="tables">
		<div class="pure-u-1">
			<div class="gr">
			
			<div id="loc-ser_selector" class="pure-g"></div>
   				
			</div> <!-- GR -->
			
		</div>
	</div>
	
	
	<script type="text/javascript" src="/measurements.js"></script>
	
{{end}}