{{define "content"}}

<div class="content shadowed">
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-2">
			<h2>TxState</h2>
		</div>
		
		<div class="pure-u-1 pure-u-md-1-2">
			<h4>Your Devices:</h4>
			<ul>
				<li>0x60c4ce4d</li>
			</ul>
		</div>
		
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="a-box">
				<h3><a href="">Edit stored data</a></h3>
				<p>Check the status of your open orders.</p>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="a-box">
				<h3><a href="">Account Setting</a></h3>
				<p>Update the settings for the account including personal and contact information.</p>
			</div>
		</div>
	</div>

</div>

<div class="content shadowed" id="settingsContainer">
	
	
		<h2 id="serial">Serial: 0001 (X | %)</h2>
		
		<div class="pure-g">
				<div class="pure-u-1-2 pure-u-md-1-3 center">
				<label for="0001-op1" class=" pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op1" type="checkbox" value="">
							Irradiance
					</div>
   				</label>
				</div>
   				
   				
   				<div class="pure-u-1-2 pure-u-md-1-3 center">
   				<label for="0001-op2" class="pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op2" type="checkbox" value="">
							Line2Current
					</div>
   				</label>
   				</div>
   				
   				<div class="pure-u-1-2 pure-u-md-1-3 center">
   				<label for="0001-op3" class="pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op3" type="checkbox" value="">
							Line2Voltage
					</div>
   				</label>
   				</div>
   				
   				<div class="pure-u-1-2 pure-u-md-1-3 center">
				<label for="0001-op4" class="pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op4" type="checkbox" value="">
							Irradiance
					</div>
   				</label>
   				</div>
   				
   				<div class="pure-u-1-2 pure-u-md-1-3 center">
   				<label for="0001-op5" class="pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op5" type="checkbox" value="">
							Line2Current
					</div>
   				</label>
   				</div>
   				
   				<div class="pure-u-1-2 pure-u-md-1-3 center">
   				<label for="0001-op6" class="pure-checkbox">
					<div class="pure-button pure-u-1 checkButton">
						<input id="0001-op6" type="checkbox" value="">
							Line2Voltage
					</div>
   				</label>
   				</div>
				
				<form class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-5" style="margin-top:1em">
					<input id="mgStartDate"class="datepicker center" type="text" placeholder="Start Date" />
					<input id="mgStartTime"class="timepicker center" type="text" placeholder="Start Time" />						
				</form>
				<div class="pure-u-md-1-8"></div>
				<form class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-5" style="margin-top:1em">
					<input id="mgEndDate" class="datepicker center" type="text" placeholder="End Date" />
					<input id="mgEndTime" class="timepicker center" type="text" placeholder="End Time" />
				</form> 
				
				<script>
					$(document).ready(function(){
						$('.datepicker').pickadate();
						$('.timepicker').pickatime();
					});
				</script>
   				
			</div>
			
	
	
</div>

<div style="height:15em"></div>

	<!---Pickadate--->
	<script type="text/javascript" src="/pickadate/picker.js"></script>
	<script type="text/javascript" src="/pickadate/picker.date.js"></script>
	<script type="text/javascript" src="/pickadate/picker.time.js"></script>
	
	<!---screen size tests for pickadate--->
	<link rel="stylesheet" media="screen and (min-device-width: 768px)" href="/pickadate/themes/classic.css">
	<link rel="stylesheet" media="screen and (min-device-width: 768px)" href="/pickadate/themes/classic.date.css">
	<link rel="stylesheet" media="screen and (min-device-width: 768px)" href="/pickadate/themes/classic.time.css">
	
	<link rel="stylesheet" media="screen and (max-device-width: 767px)" href="/pickadate/themes/default.css">
	<link rel="stylesheet" media="screen and (max-device-width: 767px)" href="/pickadate/themes/default.date.css">
	<link rel="stylesheet" media="screen and (max-device-width: 767px)" href="/pickadate/themes/default.time.css">
	
	
{{end}}